p{
  font-size: 20px;
}


body {
  margin: 1em;
  color: white;
  background-color: black;

}

header {
  max-height: 2000px;
  color: black !important;
}

.mainImage{
  max-width: 100px;
  max-height: 50px;
}

#headerPizza {
  margin-right: 10px;
}